<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124314124257-rtg517hhpq0m022r72n7ioiqv8pioq3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124314124257-rtg517hhpq0m022r72n7ioiqv8pioq3e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124314124257-la2lkpscqk9blkc3uqq93rvaujplfigv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkpZMSy557HaGtupgpdIL8BHFJCSAQ0xg</string>
	<key>GCM_SENDER_ID</key>
	<string>124314124257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.mycrypto</string>
	<key>PROJECT_ID</key>
	<string>mycrypto-f4fe2</string>
	<key>STORAGE_BUCKET</key>
	<string>mycrypto-f4fe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124314124257:ios:0ea4812e8c9920f5cc1ca0</string>
</dict>
</plist>